@model Unity_Bank.Models.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="container">
    <h2 class="text-danger">Error</h2>
    <p class="alert alert-danger">@Model.Message</p>

    @if (Model.ShowRequestId)
    {
        <p><strong>Request ID:</strong> <code>@Model.RequestId</code></p>
    }

    <a href="javascript:history.back()" class="btn btn-primary">Go Back</a>
</div>
